# EditorConfig is awesome: https://EditorConfig.org

root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{json,js,ts}]
indent_style = space
indent_size = 2

[*.{h,m,swift,gradle,kt}]
indent_style = space
indent_size = 4
