*.pbxproj -text
*.podspec linguist-detectable=false
*.m linguist-language=objectivec
*.h linguist-language=objectivec
scripts/*.ts linguist-vendored
release-manager/*.ts linguist-vendored
example/* linguist-vendored
