# VS Code
#
.vscode

# OS specific
.DS_Store

# Node
#
node_modules/
yarn-error.log
.npmrc

## Build artifacts
#
lib/
types/
!src/ios
package/
*.tgz
coverage/
.gradle/

## Example project exceptions
!example/android
!example/ios
